[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pip = "*"
beautifulsoup4 = "*"
pypdf2 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
nltk = "*"
spacy = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
